body {
    width: 80%;
    max-width: 40rem;
    margin: 0 auto;
}

.container {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#scrambledInput, #unscrambleButton {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

#unscrambleButton {
    border: 0;
    color: white;
    background-color: blueviolet;
    cursor: pointer;
    width: 200px;
}

#resultsContainer {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
